@import "../base/listas";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clientes {
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: nth($color , 6 );
    box-shadow: 7px 13px 37px nth($color, 4 );

.casillas {
    width: 100%;
    background-color: nth($color, 6);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-size: 18px;
}

.clientes p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.clientes a {
    color: nth($color, 6);
    text-decoration: none;
}

.clientes a:hover {
    color: nth($color, 6 );
    text-decoration: underline;
}

.boton {
    width: 100%;
    background-color: nth($color, 2 );
    border:none;
    padding: 12px;
    color: nth($color, 6 );
    margin: 16px 0;
    font-size: 16px;
}