



/* Footer */
.photo-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: nth($color, 2);
    align-items: center;
    height: 250px;
    
}

.footer-div {
    text-align:center;
    height: 100px;
    list-style: none;
}

footer div ul li {
    text-align: center;
    list-style: none;
    margin-top: 10px;
    img{
        margin-right: 5px;
    }
}

.fotos-footer {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 160px;
}

footer h5 {
    font-size: 20px;
}

/* Fin footer */