
@import "../base/listas";

/* HEADER */

* {
    margin: 0;
    padding: 0;
}  

.nav-item {
    padding-top: 70px;
    padding-left: 110px;
    display: inline-block;
    font-size: 20px;
}

.navbar-brand {
    margin:30px;
    margin-left: 30px;
}