@import "../base/extends";


.product-container {
    border: solid;
    color: nth($color , 4);
    margin: 40px;
    display: flex;
}

.h1 {
    font-size: 50px;
    padding-left: 100px;
    padding-top: 100px;
}

.p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 250px;
    margin-bottom: 50px;
}
.q5, .funda { 
    @extend %size-img-inicio
  }

/* Fin section 1 */

/* Section 2 */
.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    align-items: center;
}

.item1, .item2 {
  @extend %size-items
}
.h2 {
    margin-left: 20px;
    font-size: 30px;
}

.p2 {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

section div {
    text-align:center;
}

/* Fin main */