/*  MAIN */

/*  Section 1 */
.product-container {
    margin: 40px;
    display: flex;
}

.h1 {
    font-size: 40px;
    padding-left: 100px;
    padding-top: 100px;
    margin-right: 400px;
}

.p {
    font-size: 20px;
    padding-top: 250px;
    margin-left: -500px;
    margin-bottom: 50px;
}
.q5 { 
    padding: 20px 20px 20px 20px;
    margin: 0px;
    width: 350px;
    height: 350px;
  
}
.funda {
    padding: 20px 20px 20px 20px;
    margin: 0px;
    width: 350px;
    height: 350px;
  
}

.product {
    border: solid;
    color: rgb(0, 0, 0);
    display: flex;
}

/* Fin section 1 */

/* Section 2 */
.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    align-items: center;
}

.item1 {

    width: 100px;
    height: 100px;
}

.item2 {

    width: 100px;
    height: 100px;
}
.h2 {
    margin-left: 20px;
    font-size: 30px;
}

.p2 {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

section div {
    text-align:center;
}

/* Fin main */